body {
    height: 100vh;
    width: 100vw;
    background-color: var(--menu-bkgcolor);
    color: var(--main-text-color);
    font-family: 'MedievalSharp';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    display: flex;
    justify-content: space-between;
}
canvas {
    margin-top: 12vh;
}
#callsign {
    color: var(--main-text-color)
}
.list-item {
    background-color: #1c1d1efa; /* replace with desired color */
    padding: 20px; /* adjust as needed */
}

#score-list {
    border: 1px solid #1c1d1efa;
    border-radius: 5px;
    padding: 15px;
}

#score-list li {
    background-color: #1c1d1efa;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.score span:first-child {
    font-weight: bold;
    color: #333;
}

.score span:last-child {
    font-size: 18px;
    color: #007bff;
}

h1 {
    margin-top: var(--h1-margintop);
    font-size: var(--h1-textsize);
    text-align: center;
    text-shadow: var(--base-textshadow);
}

#selection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: var(--menubtns-containerwidth);
    margin-top: var(--menubtns-container-margintop);
}

#menu-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    width: var(--menubtns-containerwidth);
    margin-top: var(--menubtns-container-margintop);
}

.menu-button, .restart-button {
    background-color: var(--menubtn-bkgcolor);
    color: var(--main-text-color);
    text-shadow: var(--menubtn-textshadow);
    font-size: var(--menubtn-textsize);
    border-color: var(--main-text-color);
    border-radius: var(--menubtn-border-radius);
    margin-top: var(--menubtn-margintop);
    height: var(--menubtn-height);
    min-width: 7vw;
    
}

.menu-button:hover, .restart-button:hover {
    background-color: var(--menubtn-hover-bkgcolor);
    transform: var(--menubtn-hovertransform);
}

#mute {
    font-size: var(--mute-textsize);
    margin: var(--mutemargin);
    align-self: start;
    text-align: center;
    background-color: var(--mute-bkgcolor);
    border-radius: var(--mute-border-radius);
    padding: var(--mutepadding);
    border-color: var(--main-text-color);
    position: absolute;
    bottom: 0;
}

#game {
    height: 100%;
    width: 100%;
}

#questionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    border: 1px solid black;
    box-sizing: border-box;
    margin: 30vh auto; /* Adjust the margin-top value as needed */
    outline: solid white 1px;
  }
